Repository RFD-FHEM/RFFHEM, pull requests merged in 2019-11, with the labels that each got.

#685 Added unittest for sub SIGNALDuino_StartInit
  UnitTest/tests/test_sub_StartInit-definition.txt
Labels: unittest

#684 Added Test for SIGNALduino_CheckCmdResp
  FHEM/00_SIGNALduino.pm
  UnitTest/tests/test_sub_CheckCmdResp-definition.txt
  controls_signalduino.txt
Labels: unittest

#689 Fix cc1101 detection
  CHANGED
  FHEM/00_SIGNALduino.pm
  UnitTest/tests/test_sub_CheckCmdResp-definition.txt
  controls_signalduino.txt
Labels: bug

#690 Dev r34 fix perl warning
  CHANGED
  FHEM/00_SIGNALduino.pm
  controls_signalduino.txt
Labels: bug

#677 Update test_DeviceData_rmsg-definition.txt
  UnitTest/tests/test_DeviceData_rmsg-definition.txt
Labels: unittest

#682 SD_RSL - Support SetExtionsions
  CHANGED
  FHEM/14_SD_RSL.pm
  UnitTest/tests/test_rsl-definition.txt
  controls_signalduino.txt
Labels: SD_RSL

#693 Remove Event if unknown get command
  FHEM/00_SIGNALduino.pm
  controls_signalduino.txt
Labels: bug

#698 - added doc benon remote
  FHEM/lib/SD_ProtocolData.pm
  README.md
Labels: documentation
