Repository RFD-FHEM/RFFHEM, pull requests merged in 2019-09, with the labels that each got.

#638 14_SD_Keeloq - fixes
  CHANGED
  FHEM/14_SD_Keeloq.pm
Labels: SD_Keeloq

#635 Feature/issue 167
  CHANGED
  FHEM/14_SD_WS_Maverick.pm
  FHEM/lib/SD_ProtocolData.pm
Labels: enhancement

#643 14_SD_Keeloq.pm - fixes
  CHANGED
  FHEM/14_SD_Keeloq.pm
Labels: SD_Keeloq

#646 documentation update
  FHEM/lib/SD_ProtocolData.pm
  README.md
Labels: documentation

#645 added new SD_Bell models Grothe
  CHANGED
  FHEM/00_SIGNALduino.pm
  FHEM/14_SD_BELL.pm
  FHEM/lib/SD_ProtocolData.pm
Labels: SD_BELL

#644 Optimize Log3 when not using eventlogging
  CHANGED
  FHEM/00_SIGNALduino.pm
  UnitTest/tests/test_4-definition.txt
  UnitTest/tests/test_developid_1-definition.txt
  UnitTest/tests/test_logging-definition.txt
  controls_signalduino.txt
Labels: enhancement

#647 test get available firmware
  Makefile
  UnitTest/tests/test_get_availableFirmware-definition.txt
Labels: unittest

#649 fix test length warning
  CHANGED
  FHEM/00_SIGNALduino.pm
  controls_signalduino.txt
Labels: bug

#650 Add unitetests for get raw
  UnitTest/tests/test_get_raw-definition.txt
Labels: unittest

#656 tests/test_get_availableFirmware-definition.txt
  UnitTest/tests/test_get_availableFirmware-definition.txt
Labels: unittest

#658 update doc
  FHEM/lib/SD_ProtocolData.pm
  README.md
Labels: documentation

#659 SD_Device_ProtocolList.json dev_JSON_v1 -> dev_JSON_v2
  UnitTest/tests/test_DeviceData_rmsg-definition.txt
Labels: unittest
