Repository RFD-FHEM/RFFHEM, pull requests merged in 2020-04, with the labels that each got.

#821 get raw fixed output for unsupported command
  CHANGED
  FHEM/00_SIGNALduino.pm
  UnitTest/tests/test_sub_SIGNALduino_Get-definition.txt
  controls_signalduino.txt
Labels: bug

#822 Attribute IODev deleted in different modules
  CHANGED
  FHEM/14_Hideki.pm
  FHEM/14_SD_AS.pm
  FHEM/14_SD_WS.pm
  FHEM/14_SD_WS07.pm
  FHEM/14_SD_WS_Maverick.pm
  controls_signalduino.txt
Labels: SD_WS, SD_WS07, bug, hideki

#837 dev-r34 revised tests to V2
  UnitTest/tests/test_1-definition.txt
  UnitTest/tests/test_3-definition.txt
  UnitTest/tests/test_MS_2-definition.txt
  UnitTest/tests/test_SD_Protocols-definition.txt
  UnitTest/tests/test_SD_RSL-definition.txt
  UnitTest/tests/test_SD_WS07_devices-definition.txt
  UnitTest/tests/test_defineDefaults-definition.txt
  UnitTest/tests/test_developid_1-definition.txt
  UnitTest/tests/test_firmware_download_1-definition.txt
  UnitTest/tests/test_firmware_flash_1-definition.txt
  UnitTest/tests/test_get_availableFirmware-definition.txt
  UnitTest/tests/test_logging-definition.txt
  UnitTest/tests/test_module_devices-template.txt
  UnitTest/tests/test_modulematch_1-definition.txt
  UnitTest/tests/test_modules-definition.txt
  UnitTest/tests/test_mu_1-definition.txt
  UnitTest/tests/test_reset_1-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_CheckCcregResponse-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_CheckCmdResp-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_CheckCmdsResponse-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_CheckUptimeResponse-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_CheckVersionResp-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_CheckccConfResponse-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_CheckccPatableResponse-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_Dispatch-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_FingerprintFn-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_GetResponseUpdateReading-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_LoadProtocolHash-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_MCTFA-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_OSV2-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_Parse_MC-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_Parse_MU-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_StartInit-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_callsub_1-definition.txt
  UnitTest/tests/test_sub_SIGNALduino_getAttrDevelopment-definition.txt
Labels: unittest
